<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EaddfriendMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_EADDFRIEND(
			UID,	
			AFUID,	
			MESSAGE,	
			TIME,	
			ADDSTATUS,	
			TSTATUS,	
			EADDFRIEND_ID
		) values (
			#{UID},	
			#{AFUID},	
			#{MESSAGE},	
			#{TIME},	
			#{ADDSTATUS},	
			#{TSTATUS},	
			#{EADDFRIEND_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_EADDFRIEND
		where 
			EADDFRIEND_ID = #{EADDFRIEND_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_EADDFRIEND
			set 
				UID = #{UID},
				AFUID = #{AFUID},
				MESSAGE = #{MESSAGE},
				TIME = #{TIME},
				ADDSTATUS = #{ADDSTATUS},
			EADDFRIEND_ID = EADDFRIEND_ID
			where 
				EADDFRIEND_ID = #{EADDFRIEND_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			UID,	
			AFUID,	
			MESSAGE,	
			TIME,	
			ADDSTATUS,	
			TSTATUS,	
			EADDFRIEND_ID
		from 
			TB_EADDFRIEND
		where 
			EADDFRIEND_ID = #{EADDFRIEND_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.UID,	
				a.AFUID,	
				a.MESSAGE,	
				a.TIME,	
				a.ADDSTATUS,	
				a.TSTATUS,	
				a.EADDFRIEND_ID
		from 
				TB_EADDFRIEND a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.UID,	
				a.AFUID,	
				a.MESSAGE,	
				a.TIME,	
				a.ADDSTATUS,	
				a.TSTATUS,	
				a.EADDFRIEND_ID
		from 
				TB_EADDFRIEND a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_EADDFRIEND
		where 
			EADDFRIEND_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 申请列表(uid) -->
	<select id="listById" parameterType="pd" resultType="pd">
		select
				a.UID,	
				a.AFUID,	
				a.MESSAGE,	
				a.TIME,	
				a.ADDSTATUS,	
				a.TSTATUS,	
				a.EADDFRIEND_ID,
				b.PIC_URL
		from 
				TB_EADDFRIEND a,TB_euser b
		where
		 		a.afuid = b.esuer_id and a.uid =#{uid}
	</select>
	<!-- 被申请列表(id) -->
	<select id="blistById" parameterType="pd" resultType="pd">
		select
				a.UID,	
				a.AFUID,	
				a.MESSAGE,	
				a.TIME,	
				a.ADDSTATUS,	
				a.TSTATUS,	
				a.EADDFRIEND_ID,
				b.PIC_URL
		from 
				TB_EADDFRIEND a,TB_euser b
		where
		 		a.afuid = b.esuer_id and a.afuid =#{uid}
	</select>
	
	<!-- 同意申请，修改状态(addstatus) -->
	<update id="editById" parameterType="pd">
		update  TB_EADDFRIEND
			set 
				ADDSTATUS = 1,
			where 
				UID = #{uid} or AFUID = #{touid} 
	</update>
	
	<!-- 通过message模糊查询 -->
	<select id="findBymessage" parameterType="pd" resultType="pd">
		select 
			NICKNAME,		
			PIC_URL,	
			SEX	
		from 
			TB_EUSER
		where 
			USERNAME like concat('%',#{message},'%')
	</select>
	
	<!-- 通过uid查询 -->
	<select id="findByUid" parameterType="pd" resultType="pd">
		select 
			NICKNAME,		
			PIC_URL,	
			SEX,
			PHONE,
			EMAIL,
			SIGN,
			STATUS
		from 
			TB_EUSER
		where 
			euser_id =#{uid}
	</select>
	
</mapper>