<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ElinkbookMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_ELINKBOOK(
			UID,	
			FUID,	
			TIME,	
			UNICKNAME,	
			ELINKBOOK_ID
		) values (
			#{UID},	
			#{FUID},	
			#{TIME},	
			#{UNICKNAME},	
			#{ELINKBOOK_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_ELINKBOOK
		where 
			ELINKBOOK_ID = #{ELINKBOOK_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_ELINKBOOK
			set 
				UID = #{UID},
				FUID = #{FUID},
				TIME = #{TIME},
				UNICKNAME = #{UNICKNAME},
			ELINKBOOK_ID = ELINKBOOK_ID
			where 
				ELINKBOOK_ID = #{ELINKBOOK_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			UID,	
			FUID,	
			TIME,	
			UNICKNAME,	
			ELINKBOOK_ID
		from 
			TB_ELINKBOOK
		where 
			ELINKBOOK_ID = #{ELINKBOOK_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.UID,	
				a.FUID,	
				a.TIME,	
				a.UNICKNAME,	
				a.ELINKBOOK_ID
		from 
				TB_ELINKBOOK a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.UID,	
				a.FUID,	
				a.TIME,	
				a.UNICKNAME,	
				a.ELINKBOOK_ID
		from 
				TB_ELINKBOOK a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_ELINKBOOK
		where 
			ELINKBOOK_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 通过UID获取数据 -->
	<select id="listByUid" parameterType="pd" resultType="pd">
		select 
			UID,	
			FUID,	
			TIME,	
			UNICKNAME,	
			ELINKBOOK_ID
		from 
			TB_ELINKBOOK
		where 
			UID = #{uid}
	</select>
	
	<!-- 同意申请后，添加好友-->
	<insert id="save" parameterType="pd">
		insert into TB_ELINKBOOK(
			UID,	
			FUID,	
			TIME,	
			UNICKNAME,	
			ELINKBOOK_ID
		) (select ) 
	</insert>
	
</mapper>