<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EtakemessageMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_ETAKEMESSAGE(
			UID,	
			TOUID,	
			MASSAGE,	
			TIME,	
			STATUS,	
			ETAKEMESSAGE_ID
		) values (
			#{UID},	
			#{TOUID},	
			#{MASSAGE},	
			#{TIME},	
			#{STATUS},	
			#{ETAKEMESSAGE_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_ETAKEMESSAGE
		where 
			ETAKEMESSAGE_ID = #{ETAKEMESSAGE_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_ETAKEMESSAGE
			set 
				UID = #{UID},
				TOUID = #{TOUID},
				MASSAGE = #{MASSAGE},
				TIME = #{TIME},
			ETAKEMESSAGE_ID = ETAKEMESSAGE_ID
			where 
				ETAKEMESSAGE_ID = #{ETAKEMESSAGE_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			UID,	
			TOUID,	
			MASSAGE,	
			TIME,	
			STATUS,	
			ETAKEMESSAGE_ID
		from 
			TB_ETAKEMESSAGE
		where 
			ETAKEMESSAGE_ID = #{ETAKEMESSAGE_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.UID,	
				a.TOUID,	
				a.MASSAGE,	
				a.TIME,	
				a.STATUS,	
				a.ETAKEMESSAGE_ID
		from 
				TB_ETAKEMESSAGE a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.UID,	
				a.TOUID,	
				a.MASSAGE,	
				a.TIME,	
				a.STATUS,	
				a.ETAKEMESSAGE_ID
		from 
				TB_ETAKEMESSAGE a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_ETAKEMESSAGE
		where 
			ETAKEMESSAGE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!--  最近聊天列表--> 
	<select id="closetake" parameterType="pd" resultType="pd">
		select
				a.mid,
				a.UID,	
				a.TOUID,	
				b.pic_url,
				b.nickname,
				a.MASSAGE,	
				a.TIME,
				a.STATUS		
		from 
				TB_ETAKEMESSAGE a,TB_USER b
		where
		 		a.UID=#{UID} and b.EUSER_ID=a.TOUID
	</select>
	<!-- 聊天记录接口 -->
	<select id="takelist" parameterType="pd" resultType="pd">
	    select 
	           a.mid,
	           a.UID,
	           a.TOUID,
	           a.MASSAGE,
	           a.TIME,
	           a.STATUS
	     from
	          TB_ETAKEMESSAGE a
	    where
	          UID=#{uid}
	   </select>
	<!-- 删除最近聊天记录接口 -->
	<delete id="deletedelclosetake" parameterType="pd">
	    delete 
	    </delete>
</mapper>