<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EuserMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_EUSER(
			USERNAME,	
			PASSWORD,	
			NICKNAME,	
			STARTTIME,	
			LASTTIME,	
			PIC_URL,	
			SEX,	
			PHONE,	
			EMAIL,	
			SIGN,	
			STATUS,	
			EUSER_ID
		) values (
			#{USERNAME},	
			#{PASSWORD},	
			#{NICKNAME},	
			#{STARTTIME},	
			#{LASTTIME},	
			#{PIC_URL},	
			#{SEX},	
			#{PHONE},	
			#{EMAIL},	
			#{SIGN},	
			#{STATUS},	
			#{EUSER_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_EUSER
		where 
			EUSER_ID = #{EUSER_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_EUSER
			set 
				USERNAME = #{USERNAME},
				PASSWORD = #{PASSWORD},
				NICKNAME = #{NICKNAME},
				STARTTIME = #{STARTTIME},
				LASTTIME = #{LASTTIME},
				PIC_URL = #{PIC_URL},
				SEX = #{SEX},
				PHONE = #{PHONE},
				EMAIL = #{EMAIL},
				SIGN = #{SIGN},
				STATUS = #{STATUS},
			EUSER_ID = EUSER_ID
			where 
				EUSER_ID = #{EUSER_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			USERNAME,	
			PASSWORD,	
			NICKNAME,	
			STARTTIME,	
			LASTTIME,	
			PIC_URL,	
			SEX,	
			PHONE,	
			EMAIL,	
			SIGN,	
			STATUS,	
			EUSER_ID
		from 
			TB_EUSER
		where 
			EUSER_ID = #{EUSER_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.USERNAME,	
				a.PASSWORD,	
				a.NICKNAME,	
				a.STARTTIME,	
				a.LASTTIME,	
				a.PIC_URL,	
				a.SEX,	
				a.PHONE,	
				a.EMAIL,	
				a.SIGN,	
				a.STATUS,	
				a.EUSER_ID
		from 
				TB_EUSER a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.USERNAME,	
				a.PASSWORD,	
				a.NICKNAME,	
				a.STARTTIME,	
				a.LASTTIME,	
				a.PIC_URL,	
				a.SEX,	
				a.PHONE,	
				a.EMAIL,	
				a.SIGN,	
				a.STATUS,	
				a.EUSER_ID
		from 
				TB_EUSER a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_EUSER
		where 
			EUSER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>